
<launch>
  <node pkg="joy" type="joy_node" name="joy_node">
  </node>
  <node pkg="malish" name="twist_joy" type="twist_joy.py" output="screen" >
  </node>
  <node pkg="malish" name="imu_transform" type="imu_transform" >
  </node>
  <node pkg="malish" name="sonar_transform" type="sonar_transform" >
  </node>
  <node pkg="malish" name="omni_odom" type="omni_odom" >
    <rosparam param="covariance">[0.001, 0.0, 0.0, 0.0, 0.0, 0.0,
                                  0.0, 0.001, 0.0, 0.0, 0.0, 0.0,
                                  0.0, 0.0, 1000000.0, 0.0, 0.0, 0.0,
                                  0.0, 0.0, 0.0, 1000000.0, 0.0, 0.0,
                                  0.0, 0.0, 0.0, 0.0, 1000000.0, 0.0,
                                  0.0, 0.0, 0.0, 0.0, 0.0, 0.03]</rosparam>
  </node>
  <!--<node pkg="malish" name="safety" type="safety" >
  </node>-->



  <node pkg="rosserial_python" name="serial_node_ros" type="serial_node.py" output="screen"
       args="/dev/ttyUSB0" >
  </node>
  <node pkg="rosserial_python" name="serial_node_extended" type="serial_node.py" output="screen"
       args="/dev/ttyACM0" >
  </node>

</launch>
